body {
    padding-top: 2em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5em;
    border-bottom: 1px solid #000000;
    background-color: #FFFFFF;
}

li {
    list-style-type: none;
}